{% extends 'website/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    Add offer
    {% endblock %}
</head>
{% block body %}
    <div class="container">
        <div class="row">
            <h1>ADD A NEW OFFER</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                    <br>
                    <button class="btn btn-primary" type="submit">Add offer</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
</html>
