<!DOCTYPE html>
<html lang="en">

{% extends "website/base.html" %}

<head>
    <meta charset="UTF-8">

        {% block title %}
            Index
        {% endblock title %}
</head>
    {% block body %}
    <div class='container'>
        <div class='row pull-right'>
             <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Search category
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% for category in categories %}
                    <li><a href="{% url 'offer:category' category.pk %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div> 
        </div>
       {% for offer in offers %}
            <div class='row'>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-4">
                            {% if offer.image %}
                            <img src="{{ offer.image.url }}" width=250 height=150 class="img-responsive" />
                            {% else %}
                            <h3> No image to display </h3>
                            {% endif %}
                        </div>
                        <div class="col-sm-5">
                            <ul>
                                <li>{{ offer.title }} - {{ offer.price }}</li>
                                <li>Author: {{ offer.author.username }}</li>
                                <li>Category: {{ offer.category.name }}</li>
                                <li>From: {{ offer.created_at }}</li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <a href="{% url 'offer:offer-detail' offer.pk %}"><button type="button" class="btn btn-info">Details</button></a><br>
                            {% if request.user == offer.author %}
                            <a href="{% url 'offer:offer-update' offer.pk %}"><button type="button" class="btn btn-primary">Update</button></a><br>
                            <form method="POST" action="{% url 'offer:offer-delete' offer.pk %}" enctype="multipart/form-data"> 
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endblock body %}
</html>
