{% extends 'website/base.html' %}

{% block title %}
    Offer {{ offer.pk }}
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class='col-sm-4'>
                    <img src='{{ offer.image.url }}' height=150 width=250 class='img-responsive' />
                </div>
                <div class='col-sm-8'>
                    <h3>Name ->> {{ offer.title }}, Price ->> {{ offer.price }}</h3>
                    <p>Description ->> {{ offer.description }}</p>
                    <p>Category ->> {{ offer.category }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
