{% extends 'website/base.html' %}
{% block title %}
Category {{ category.pk }}
{% endblock title %}

{% block body %}
    <div class='container'>
    {% if offers %}
       {% for offer in offers %}
            <div class='row'>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-4">
                            {% if offer.image %}
                            <img src="{{ offer.image.url }}" width=250 height=150 class="img-responsive" />
                            {% else %}
                            <h3> No image to display </h3>
                            {% endif %}
                        </div>
                        <div class="col-sm-8">
                            <ul>
                                <li>{{ offer.title }} - {{ offer.price }}</li>
                                <li>Description: {{ offer.description }}</li>
                                <li>Author: {{ offer.author.username }}</li>
                                <li>Category: {{ offer.category.name }}</li>
                                <li>From: {{ offer.created_at }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>No offers for now!</h2>
    {% endif %}
    </div>
{% endblock body %} 
