<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>HELLO!</h1>
    <table border=2px>
        <thead>
            <tr>
                <th>Title</th>
                <th>Created at</th>
                <th>Last updated</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <th><a href="{% url 'blog:detail_view' post.pk %}">{{ post.title }}</a></th>
                    <th>{{ post.created_at }}</th>
                    <th>{{ post.updated_at }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
